{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="container mt-4 m-8">
        <h2>View Inventory</h2>
        <br>

        <div class="position-relative text-center">
            <p class="absolute fs-6 text-secondary">
                At Fonexpert, we provide a wide variety of mobile phones in stock from major brands such as Apple and
                Samsung, as well as other brands including Google Pixel, OnePlus, Xiaomi and more. Whether you prefer
                Android or iOS, we can help you choose the right model that suits your needs. And if you are on the
                fence between the two smartphone operating systems on the market, we are here to help you switch
                between the two and keep your contacts, messages, media files and other data with you.
                <br><br>
                In addition to our range of smartphones, we also sell basic mobile phones if you need a minimal phone
                to leave out the distractions and keep yourself focused. Basic mobile phones are a great choice as a
                secondary phone alongside your smartphone, where you can stay connected even if your smartphone runs
                out of battery.
            </p>
            <hr>
            <h1 class="absolute fs-1 text-primary">
                Brands
            </h1>

            <!-- Brands Grid -->
            <div class="d-flex justify-content-center row row-sm">
                {% for brand in brands %}
                <div class="col-sm-3 mb-4">
                    <div class="card h-100">
                        <a href="{{brand.flask_href}}"><img class="card-img-top img-fluid m-16 p-16" src="{{brand.s3_logo_url}}" alt="{{brand.brand}} logo"
                        style="max-width:200px; height:auto;"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{brand.flask_href}}">{{brand.brand}}</a>
                            </h4>
                            <p class="card-text">
                                {{brand.description}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}