{% extends 'base.html' %}

{% block title %} Google Phones {% endblock %}

{% block body %}
    <div class="container mt-4 m-8">
        <h2>View Inventory</h2>
        <br>

        <div class="position-relative text-center">
            <h1 class="absolute fs-1 text-primary">
            Brand: Google
            </h1>
            <p class="absolute fs-6 text-secondary">
                The Google Pixel series are smartphones engineered by Google with advanced AI features that help users
                take amazing photos on the go, get more done and keep sensitive information safe. From the entry-level
                Pixel a series (including the Pixel 9a) with essential features that a smartphone user may need, to the
                base Pixel flagship lineup as a step-up from the Pixel a series with great camera quality, to the Pro series
                for those who absolutely need the best smartphone or a book-style foldable device in the Pixel lineup,
                Google devices are a great alternative to Samsung devices for those who want a minimal user experience
                even on Android.
            </p>
            <hr>

            <!-- Models Grid -->
            <div class="d-flex justify-content-center row row-sm">
                <!-- For loop to query all Samsung -->
                {% for phone in samsung %}
                <div class="col-sm-3 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top img-fluid m-16 p-16" src="{{phone.staticimg}}"
                        style="max-width:200px; height:auto;"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{phone.model}}</a>
                            </h4>
                            <p class="card-text text-left">
                                <li>Brand: {{phone.brand}}</li>
                                <li>Storage: {{phone.storage}}</li>
                                <li>Colour: {{phone.colour}}</li>
                                <li>Network: {{phone.network}}</li>
                                <li>OS: {{phone.os}}</li>
                                <li>Condition: {{phone.condition}}</li>
                                <li>Price: €{{phone.price}}</li>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End of for-loop -->
            </div>
        </div>


    </div>
{% endblock %}